body {
    background-color: rgb(135, 173, 173);
    margin-left: 25px;
    margin-right: 25px;
}

p {
    font-size: 25px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 30px;
}


#mysteryman {
    border-radius: 2rem;
   
}

span {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.image {
    border-radius: 1rem;
}

input {
    font-size: 22px;
}

#offers {
    font-size: 25px;
}

#table {
    font-size: 25px;
}